button {
  padding: 0.5rem 5rem;
  border: none;
  border-radius: 0.3rem;
  outline: none;
  margin: 1rem;
  background-color: rgba(238, 75, 75, 0.979);
  color: white;
  justify-content: center;
}
