@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.head {
  border-radius: 1rem;
  background-color: aqua;
  margin: 1rem 1rem;
  justify-content: center;
  align-items: center;
}
h1 {
  padding: 3rem;
  font-family: 'Zen Kurenaido', sans-serif;
}
p {
  font-size: 1.2rem;
  padding: 2rem;
  margin-top: -2rem;
}
.textbox {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
